section.slider {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  align-items: center;

  .child {
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-width: 100%;
  }
}

@media screen and (max-width: 415px), screen and (orientation: landscape) and (max-height: 415px) {
  section.slider {
    overflow-y: clip;
  }
}
