@use "./colors" as colors;
@use "sass:color";

@mixin background-gradient(
  $angle: 270deg,
  $c1: rgba(94, 114, 235, 1),
  $c2: rgba(255, 145, 144, 1),
  $c3: rgba(254, 193, 149, 1)
) {
  background-image: linear-gradient($angle, $c1 0%, $c2 56%, $c3 100%);
}

@mixin corner-flare() {
  background-image: linear-gradient(225deg, colors.$secondary02 0%, color.adjust(colors.$lightest, $alpha: -1) 30%);
}

@mixin padding-anime($size: "reg") {
  @if $size != "sm" {
    -webkit-transition: padding 250ms ease-in-out;
    transition: padding 250ms;
  }
}

@mixin button($color: colors.$lightest, $background: colors.$primary01, $size: "reg") {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  color: $color;
  font-weight: 500;
  background: $background;
  font-size: 1.188rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  @include padding-anime($size);

  &:hover {
    text-decoration: none;
    padding: 1rem 3.5rem;
    cursor: pointer;
  }
}

@mixin button-sm($color: colors.$lightest, $background: colors.$primary01) {
  @include button($color, $background, "sm");
  font-size: 0.75rem;
  padding: 0.5rem 0.625rem;

  &:hover {
    padding: 0.5rem 0.625rem;
    background: color.scale($background, $lightness: 20%);
  }
}

@mixin glass-morph($blur: 7.5px) {
  background: linear-gradient(110.35deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.2) 100%);
  filter: blur(2.5px);

  // Not Safari
  @supports not (-webkit-hyphens: none) {
    // Doesn't work in Safari (background image locks up. Using filter: blur... on screenshot divs instead.)
    backdrop-filter: blur($blur);
  }
  border-radius: 20px;
}

@mixin text-bg-glass() {
  background: linear-gradient(110.35deg, rgba(250, 247, 232, 0.7) 0%, rgba(250, 247, 232, 0.2) 100%);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
}

@mixin porthole($image-url) {
  background: url($image-url) no-repeat;
  background-attachment: fixed;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  height: 15rem;
  width: 15rem;

  // Not Safari
  @supports not (-webkit-hyphens: none) {
    // Looks too blocky in Safari
    filter: drop-shadow(0px 0px 16px colors.$darkest);
  }

  @media screen and (max-width: 720px), screen and (orientation: landscape) and (max-height: 415px) {
    // For Safari, fixed mode interferes with the snap-scrolling. So changing the mode from fixed to
    // local to allow snap-scrolling at smaller screen sizes.
    background-attachment: local;
  }
}

@mixin reveal-from-left() {
  animation: reveal-from-left 500ms ease-out 0s;

  @keyframes reveal-from-left {
    0% {
      transform: translateX(-200px);
    }
  }
}

@mixin reveal-from-right() {
  animation: reveal-from-right 500ms ease-out 0s;

  @keyframes reveal-from-right {
    0% {
      transform: translateX(200px);
    }
  }
}

@mixin spinner() {
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @keyframes spinner {
    @for $idx from 0 through 10 {
      $percent: $idx * 10%;
      $degrees: $idx * 36deg;
      #{$percent} {
        transform: rotate($degrees);
      }
    }
  }
}
