@use "../../../assets/sass/abstracts/colors";

aside.project-summary {
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0 0 0.5rem;
    color: colors.$dark;
  }
  article {
    font-size: 1.188rem;
    margin: 2.5rem 0;
  }

  section.desc,
  section.desc details.more {
    margin: 2.75rem 0;
    overflow-y: auto;

    article:first-child {
      margin-top: 0;
    }
    article:last-child {
      margin-bottom: 0;
    }
  }

  section.desc details.more {
    border: 1px solid colors.$dark;
    border-radius: 4px;
    padding: 0.5rem;
    width: fit-content;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  aside.project-summary section.desc {
    details.more {
      max-height: calc(100vh - 30rem);
    }
  }
}

@media screen and (max-width: 425px) {
  aside.project-summary {
    section.desc,
    article {
      margin: 1rem 0;
    }
  }
}

@media screen and (max-device-width: 280px) {
  aside.project-summary section.desc {
    width: calc(100vw - 2rem);
  }
}
