@use "../../../assets/sass/abstracts/colors";
@use "sass:color";

section.footer {
  &.fade {
    background-color: color.adjust(colors.$secondary02, $alpha: -0.25);
    background-image: linear-gradient(180deg, #faf7e8 0%, rgba(250, 247, 232, 0.15) 100%);
  }
  display: flex;
  flex-direction: column;

  h1 {
    margin: 1rem 0 0.5rem;
  }

  section.tag-line {
    display: flex;
    align-items: center;
    margin: 10rem 6rem 3rem;
  }

  section.contact-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  section.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    h5 {
      color: colors.$dark;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  section.footer {
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    section.tag-line {
      margin-top: 5rem;
      & h5 {
        margin-bottom: 0;
      }
    }
    section.contact-info-list {
      flex-direction: column;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 415px) {
  section.footer section.tag-line {
    margin: 2rem 2rem 0;
    h5 {
      margin: 0 2rem;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 415px) {
  section.footer {
    section.tag-line {
      margin-top: 3.5rem;
      margin-bottom: 1rem;
    }

    height: 80vh;
    section.contact-info-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;

      margin: 0 auto 0 15%;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 375px) {
  section.footer section.contact-info-list {
    margin-left: 10%;
  }
}
