@use "../../../assets/sass/abstracts/colors";

div.skillz-fountain {
  height: calc(100vh - 3.25rem);
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 3.25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    z-index: -1;
    transform: translate(-1000px, -1000px);
  }
}
