/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "DisplayFont";
  src: url("../../fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DisplayFontItalic";
  src: url("../../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "CaptionFont";
  src: url("../../fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "CaptionFontItalic";
  src: url("../../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf");
}

html {
  font-size: 16px;
}

@media screen and (max-width: 415px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "CaptionFont";
  font-size: 1rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "DisplayFont";
  font-weight: normal;
  line-height: 1.2em;
}
h1,
.h1 {
  font-size: 2.5rem; // 40px;
}
h2,
.h2 {
  font-size: 2rem; // 32px;
}
h3,
.h3 {
  font-size: 1.75rem; // 28px;
}
h4,
.h4 {
  font-size: 1.5rem; // 24px;
}
h5,
.h5 {
  font-size: 1.313rem; // 21px;
}
h6,
.h6 {
  font-size: 1.188rem; // 19px;
}
