@use "sass:math";

section.video-player-wrapper figure.video-player {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;

  iframe {
    aspect-ratio: math.div(16, 9);
    width: 100%;
    max-width: 90rem;
    border-radius: 0.25rem;
    border: none;
    height: inherit;
  }

  .spinner {
    height: 5vh;
    position: absolute;
    margin-top: 25%;
    z-index: -1;
  }
}
