@use "../../assets/sass/abstracts/mixins";
@use "../../assets/sass/abstracts/colors";
@use "sass:color";

$navLinkColor: colors.$darkest;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$lightest;
  border-bottom: 1px solid colors.$dark;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3.25rem;
  z-index: 2;

  .nav-btn {
    margin: 0 1.5rem;
    height: 1.75rem;
    svg {
      fill: $navLinkColor;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .config {
    display: flex;
    align-items: center;

    .close {
      margin: 0 0.5rem 0 1.5rem;
      fill: colors.$darkest;
      height: 1.75rem;
      cursor: pointer;
      @include mixins.reveal-from-left();
    }

    ul.config-toggle {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 3.25rem;
      @include mixins.reveal-from-left();

      li {
        height: 1.75rem;
        border: none;
        padding: 0;
        &.framework {
          svg.react-logo {
            filter: drop-shadow(2px 4px 6px colors.$dark) saturate(0.9);
            color: colors.$react-accent;
            height: inherit;
          }
        }
      }
    }
  }

  .menu {
    display: flex;
    .nav-btn {
      @include mixins.reveal-from-right();
    }
  }

  ul.menu-list {
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;
      padding: 0 1rem;
      margin: 0 2rem;
      a {
        color: $navLinkColor;
        text-decoration: none;
        &.highlight {
          font-weight: bold;
          cursor: default;
        }
        &:hover:not(.highlight) {
          color: colors.$accent04;
          cursor: pointer;
        }
      }

      @include mixins.reveal-from-right();
    }
  }
}

@media screen and (max-width: 720px) {
  nav ul.menu-list li {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 430px) {
  nav ul.menu-list li {
    margin: 0 0.25rem;
  }
  nav .menu-options ul li {
    margin: 0;
  }
}

@media screen and (max-width: 280px) {
  nav ul.menu-list {
    padding: 0;
    li {
      padding: 0 0.25rem;
    }
  }
}
