@use "../../../assets/sass/abstracts/colors";
$size: 3rem;
.logo {
  height: $size;
  width: $size;
  .sheildLeft {
    fill: colors.$primary02;
  }
  .sheildRight {
    fill: colors.$primary01;
  }
  .letter {
    fill: colors.$secondary03;
  }
}
