@use "../../../assets/sass/abstracts/colors";
.logo {
  fill: colors.$secondary01;
  /* fill:rgb(0,145,226) // Docker blue */
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.pathRules {
  fill-rule: nonzero;
}
