/* You can add global styles to this file, and also import other style files */

@use "assets/sass/base/typography";
@use "assets/sass/abstracts/colors";

html {
  color: colors.$darkest;
  background-color: colors.$lightest;
}
