@use "../../../assets/sass/abstracts/colors";

.matrix {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;

  .logo {
    opacity: 0;
  }

  .logo svg {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 515px) {
  .matrix {
    margin-top: 1.5rem;
    .logo {
      &:first-child,
      &:last-child {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
